* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.wrapper {
  display: flex;
  position: relative;
  transition: 0.5s ease-in-out;

  width: 100%;
  height: 9101px;
  background: #f9f7f4;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 831px;
  justify-content: space-between;
  align-content: space-between;
  background-image: url(./image/header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
content {
  position: absolute;
  top: 831px;
  width: 100%;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;

  width: 100%;
  height: 88px;

  background: #f4f0e9;
}
.nav {
  display: flex;

  justify-content: center;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
}
.nav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1168px;
  height: 30.24px;
}
.logo {
  background-image: url(./image/YourTour.svg);
  width: 182px;
  height: 32px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;

  width: 468px;
  height: 28px;
}
.nav_item1 {
  width: 51px;
}

.nav_item2 {
  width: 114px;
}
.nav_item3 {
  width: 76px;
}
.nav_item4 {
  width: 80px;
}
.phone {
  width: 155px;
  height: 28px;
}
.p-normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  flex: none;
  color: white;
}
.p-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
}
.p-big {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}
.h1 {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 110%;
}
.h2 {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;

  color: #1b1f2b;
}
.h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 122%;
}
.headBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 743px;
}
.head-slogan {
  width: 768px;
  height: 317px;

  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 50px;
  color: #ffffff;
  flex: none;
}
.head-sign {
  width: 600px;
  height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}
.searchTour-button {
  padding: 5px 20px;
  height: 34px;
  background: #ffffff;
  border: #ffffff;
  border-radius: 10px;
}
.search {
  width: 78px;
  height: 24px;
  color: #1b1f2b;
  justify-content: center;
  letter-spacing: -0.01em;
  font-weight: 600;
}

.windowSelectTour {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  width: 100%;
  height: 1334px;
}
.capSelectTour {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 142px;

  margin-bottom: 100px;
}

.selectTour {
  width: 473px;
  height: 73px;
  color: #1b1f2b;

  margin-bottom: 35px;
  text-align: center;
}
.elementsTour {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  width: 700px;
  height: 34px;
}
.tour_elem1 {
  color: #efa501;
  border-bottom: 2px solid #efa501;
}

.suggestTour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 1170px;
  height: 1092px;
  flex-wrap: wrap;
}

.sizeCard {
  width: 370px;
  height: 531px;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 50px;
}
.tour1 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tour2 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tour3 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tour4 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tour5 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tour6 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.nameTourorPrise {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.nameTour {
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 16px;
  width: 240px;
}
.PriseTour {
  width: 270px;
  height: 24px;
  color: white;
}
.expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-top: 277px;
}
.detailed {
  width: 120px;
  height: 28px;
  color: #ffffff;
  margin-right: 16px;
}
.vectorDet {
  background-image: url(./image/Vector.svg);
  width: 22px;
  height: 15px;
}
.collectTour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin-top: 136px;

  width: 100%;
  height: 1245px;
}
.collectTour_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 458px;
  height: 159px;
}
.collectTour_header-text {
  width: 458px;
  height: 73px;
  text-align: center;
  color: #1b1f2b;
}

.windowFill {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
  width: 1170px;
  height: 986px;

  background: #ffffff;
  border-radius: 50px;
}
.fildsInput {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 500px;
  height: 104px;
}
.inputFill {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 19px;
  letter-spacing: 0.2px;
  font-weight: 600;
  width: 500px;
  height: 68px;

  background: #f9f7f4;

  border: 1px solid #f4f0e9;
  border-radius: 10px;

  color: black;
}

.email_fill {
  margin: 33px 0 0 0;
}
.tel_fill {
  margin-top: 33px;
}
.dateFrom_fill {
  margin: 33px 0 0 0;
}
.dateBefore_fill {
  margin-top: 33px;
}

.titleFill {
  width: 500px;
  height: 28px;
  font-weight: 700;
  margin-bottom: 7px;
  color: #1b1f2b;

  letter-spacing: 0.2px;
}
::placeholder {
  height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 142%;

  color: #a6a6a6;
}
select {
  color: #1b1f2b;
}
select:invalid {
  color: #a6a6a6;
}

.dropdown {
  color: #a6a6a6;
  font-weight: 400;

  appearance: none;
  background: url(./image/check_mark.svg) no-repeat right center;
  background-position-x: calc(100% - 24px);
  outline: 0;
  background-color: #f9f7f4;
}
.comment_fill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 33px;
  margin-bottom: 33px;
  width: 1030px;
  height: 188px;
}
.comment_inputFill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  width: 100%;
  height: 152px;
  box-sizing: border-box;
  background: #f9f7f4;

  border: 1px solid #f4f0e9;
  border-radius: 10px;
}
.age_fill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 33px;
  width: 1030px;
  height: 64px;
}
.age_button {
  display: flex;
  margin-top: 1px;
  margin-left: 1px;
}

.approval {
  width: 35px;
  height: 28px;
  font-weight: 600;
  color: #1b1f2b;
}

.button_age {
  display: none;
}
.button_age + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.button_age + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.button_age:checked + label::before {
  border-color: black;
  background-color: white;
  background-image: url(./image/Ellipse\ 2.svg);
}
.yes_age {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 63px;
  height: 28px;
}
.no_age {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  width: 72px;
  height: 28px;
}
.licensedContract {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 33px;

  width: 556px;
  height: 26px;
}
.contract {
  color: #a6a6a6;
  width: 556px;
  height: 24px;
}
.button_contract {
  display: none;
}
.contract-text {
  width: 509px;
  height: 24px;

  color: #a6a6a6;
}
.button_contract + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.button_contract + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid black;
  border-radius: 0.25em;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.button_contract:checked + label::before {
  border-color: black;
  background-color: white;
  background-image: url(./image/check.svg);
}
.black_text-email {
  color: black;
  font-weight: 600;
}
.black_text-contract {
  color: black;
  font-weight: 600;
}
.searchOrReset_tour {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 34px;

  width: 500px;
  height: 58px;
}
.search_tour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;

  width: 235px;
  height: 58px;
  border: 3px solid #286562;
  background: #286562;
  border-radius: 10px;
}
.reset_tour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 235px;
  height: 58px;
  border: 3px solid #e0f0e5;
  background: #e0f0e5;
  border-radius: 10px;
}
.search_tour-text {
  width: 94px;
  height: 28px;
  color: #ffffff;
  font-weight: 500;
}
.reset_tour-text {
  width: 90px;
  height: 28px;
  color: #286562;
  font-weight: 500;
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 135px;
  width: 100%;
  height: 1005px;
  align-content: space-between;
}
.head_feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 529px;
  height: 232px;
  text-align: center;
}

.feedback_people {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  width: 1170px;
  height: 673px;
  flex-direction: row;
  flex-wrap: wrap;
}

.feedback_size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;

  width: 570px;
  height: 673px;

  background: #f4f0e9;
  border-radius: 50px;
}
.feedback_text {
  color: #1b1f2b;
}
.feedback_infoName {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding: 70px 0px 0px;

  width: 490px;
  height: 145px;
}
.feedback_tour {
  width: 415px;
  height: 24px;
  margin-top: 9px;

  color: #a6a6a6;
}
.feedback_name {
  font-weight: 900;
}
.feedback_fotoGirl {
  width: 75px;
  height: 75px;
  background-image: url(./image/foto_girl.svg);
}
.feedback_fotoMen {
  width: 75px;
  height: 75px;
  background-image: url(./image/foto_men.svg);
}
.foto_travel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin-top: 135px;

  width: 100%;
  height: 1222px;
}
.slogan {
  width: 418px;
  height: 56px;
  text-align: center;
  margin-top: 30px;
  color: #a6a6a6;
  text-align: center;
  letter-spacing: 0.2px;
}
.foto_travel-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 723px;
  height: 159px;
}
.foto_travel-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  width: calc(100% - 60px);
  height: 963px;
  flex-wrap: wrap;
}
.size_row1 {
  width: 442.5px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
}
.size_row2 {
  width: 348px;
  height: 301px;
  border-radius: 50px;
  background-position: center center;

  background-size: cover;
}
.foto_tour1 {
  background-image: url(./image/travel\ photo-1.jpg);
}
.foto_tour2 {
  background-image: url(./image/travel\ photo-2.jpg);
}

.foto_tour3 {
  background-image: url(./image/travel\ photo-3.jpg);
}
.foto_tour4 {
  background-image: url(./image/travel\ photo-4.jpg);
}

.foto_tour5 {
  background-image: url(./image/image\ 5.png);
  width: 349.16px;
  height: 301px;
}
.foto_tour6 {
  background-image: url(./image/travel\ photo-6.jpg);
}
.foto_tour7 {
  background-image: url(./image/travel\ photo-7.jpg);
}
.foto_tour8 {
  background-image: url(./image/image\ 6.png);
  width: 348.16px;
  height: 301px;
}
.foto_tour9 {
  background-image: url(./image/image\ 7.png);
  width: 346px;
  height: 301px;
}
.foto_tour10 {
  background-image: url(./image/travel\ photo-10.jpg);
}
.foto_tour11 {
  background-image: url(./image/travel\ photo-11.jpg);
}
.foto_tour12 {
  background-image: url(./image/travel\ photo-12.jpg);
}
.foto_tour13 {
  background-image: url(./image/travel\ photo-13.jpg);
}
.travel_stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin-top: 135px;
  width: 100%;
  height: 2060px;
}
.travel_stories-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 615px;
  height: 159px;
}
.travel_stories-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  width: 1170px;
  height: 1801px;
}
.size_stories {
  width: 1170px;
  height: 567px;
  background-position: center center;

  background-size: cover;
  border-radius: 50px;
}
.travel_stories1 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./image/story\ photo-1.jpg);
  background-size: cover;
}
.travel_stories2 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./image/story\ photo-2.jpg);
  margin-top: 50px;

  background-size: cover;
}

.travel_stories3 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./image/story\ photo-3.jpg);

  background-size: cover;
  margin-top: 50px;
}
.travel_stories-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 60px 0px 60px;
}
.stories_foto-header {
  width: 100%;
  height: 43px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
.stories_foto-slogan {
  width: 100%;
  height: 224px;
  color: #ffffff;
  margin-top: 35px;
  letter-spacing: 0.2px;
}
.stories_foto-slogan ul {
  margin-left: 27px;
  margin-top: 26px;
}
.li_store {
  padding-left: 2px;
}
li::marker {
  font-size: 15px;
}
.travel_stories-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 60px;
  height: 88px;
  margin-top: 115px;
}
.expand1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social_network-picture1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: wheat;
  width: 322px;
  height: 28px;
}
.social_network-picture2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 28px;
}
.social_network-picture3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 28px;
}
.social_instagram {
  width: 90px;
  margin-right: 35px;
}
.social_facebook {
  width: 84px;
  margin-right: 35px;
}
.social_YouTube {
  width: 78px;
}
.social_VK {
  width: 99px;
}
.contact_yourTour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin-top: 135px;
  width: 100%;
  height: 370px;
}
.contact-tour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  width: 771px;
  height: 370px;
}
.contact_yourTour-foto {
  width: 370px;
  height: 370px;

  background: url(./image/image\ 17.png);
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 29px;
  width: 371px;
  height: 162px;
}
.contact_slogan {
  width: 371px;
  height: 86px;
  color: #1b1f2b;

  letter-spacing: 0.4px;
}
.contact_mail {
  margin-top: 20px;
  width: 364px;
  height: 56px;
  color: #a6a6a6;
  letter-spacing: 0.2px;
}
.social_network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;

  width: 1168px;
  height: 28px;
}
.slogan_social {
  width: 222px;
  height: 28px;
  color: #a6a6a6;
  letter-spacing: 0.2px;
}
.social_network-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  color: black;
  width: 419px;
  height: 28px;
  margin-left: 537px;
}
.icon_inst {
  background-image: url(./image/inst-icon.svg);
  width: 14px;
  height: 14px;
  margin-right: 12px;
}

.icon_face {
  background-image: url(./image/face-icon.svg);
  width: 8px;
  height: 17px;
  margin-right: 15px;
}

.icon_vk {
  background-image: url(./image/vk-icon.svg);
  width: 20px;
  height: 12px;
  margin-right: 12px;
}

.social_inst {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: 600;
  width: 126px;
  height: 28px;
  margin-right: 28px;
}
.social_face p {
  width: 84px;
  height: 28px;
}
.social_inst p {
  width: 90px;
  height: 28px;
}
.social_vk p {
  width: 87px;
  height: 28px;
}
.social_face {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: 600;
  width: 120px;
  height: 28px;
  margin-right: 16px;
}
.social_vk {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: 600;
  width: 123px;
  height: 28px;
}
.nav_item1:hover,
.nav_item2:hover,
.nav_item3:hover,
.nav_item4:hover,
.phone:hover,
.social_instagram:hover,
.social_facebook:hover,
.social_YouTube:hover,
.social_VK:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
.social_face p:hover,
.social_inst p:hover,
.social_vk p:hover,
.tour_elem2:hover,
.tour_elem3:hover,
.tour_elem4:hover,
.tour_elem5:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}
.sizeCard:hover .expand {
  padding: 7px 20px;
  border: 1px solid #286562;
  width: 199px;
  height: 42px;
  margin-top: 270px;
  background: #286562;
  border-radius: 50px;
  margin-left: -21px;
}

.size_stories:hover .expand1 {
  padding: 7px 20px;
  border: 1px solid #286562;
  width: 199px;
  height: 42px;
  background: #286562;
  border-radius: 50px;
  margin-left: -21px;
  cursor: pointer;
}

.sizeCard:hover {
  transition: all 300ms ease-in;
  transform: scale(1.2);
  cursor: pointer;
}
.size_stories:hover {
  transition: all 300ms ease-in;
  transform: scale(1.2);
  cursor: pointer;
}
.inputFill:hover,
.comment_inputFill:hover {
  background: #f4f0e9;
  border: 1px solid #f4f0e9;
  cursor: pointer;
}
.inputFill:focus,
.comment_inputFill:focus {
  outline: none;
  background: #f4f0e9;
  border: 1px solid #a6a6a6;
}
.search_tour:hover {
  background: #3b7e7b;
  border: #3b7e7b;
  cursor: pointer;
}
.reset_tour:hover {
  background: #f1f3f2;
  border: #f1f3f2;
  cursor: pointer;
}
.black_text-contract:hover,
.black_text-email:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.searchTour-button:hover {
  background: #efa501;
  border: #efa501;
  cursor: pointer;
}
.searchTour-button:hover .search {
  color: white;
}
.sizeCard .expand:active {
  border: 1px solid #efa501;
  background: #efa501;
}
.size_stories .expand1:active {
  border: 1px solid #efa501;
  background: #efa501;
}
.search_tour:active {
  background: #627f7e;
  border: #627f7e;
}
.reset_tour:active {
  background: #d9dfdb;
  border: #d9dfdb;
}
.social_instagram:active,
.social_facebook:active,
.social_YouTube:active,
.social_VK:active {
  color: #efa501;
  border-bottom: 1px solid #efa501;
}
.black_text-contract:active,
.black_text-email:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
.searchTour-button:active {
  background: #f8e6be;
  border: #f8e6be;
  cursor: pointer;
}
.searchTour-button:active .search {
  color: black;
}
@media screen and (max-width: 1860px) {
  .size_row1 {
    width: 23%;
  }
  .size_row2 {
    width: 18%;
  }
}
@media screen and (max-width: 1170px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .nav-title {
    width: 89%;
  }

  .nav-links {
    width: 44.8%;
  }
  .head-sign {
    width: 442px;
  }
  .windowSelectTour {
    width: 100%;
    height: 1871px;

    margin-left: 0;
  }
  .elementsTour {
    width: 100%;
  }
  .capSelectTour {
    width: 68.4%;
  }
  .suggestTour {
    width: 90%;
    height: 1629px;
  }
  .sizeCard {
    width: 49%;
  }
  .expand {
    margin-top: 320px;
  }
  .sizeCard:hover .expand {
    margin-top: 320px;
  }
  .collectTour {
    width: 100%;
    height: 1225px;
    margin-left: 0;
  }
  .nameTourorPrise {
    width: 350px;
    height: 83px;
  }
  .nameTour {
    width: 100%;
  }
  .windowFill {
    width: 89.7%;
    height: 966px;
    padding: 60px;
  }
  .fildsInput {
    width: 100%;
  }

  .form {
    width: 48.8%;
  }
  .inputFill {
    width: 100%;
  }
  .titleFill {
    width: 100%;
  }
  .licensedContract {
    width: 100%;
    justify-content: space-between;
  }
  .contact {
  }
  .button_contract + label::before {
    margin-right: 11px;
  }
  .comment_inputFill,
  .comment_fill,
  .age_fill {
    width: 100%;
  }
  .feedback {
    width: 100%;
    height: 1173px;
    margin-left: 0;
  }
  .feedback_people {
    width: 89.7%;
    height: 841px;
  }
  .feedback_size {
    width: 49%;
    height: 841px;
  }

  .feedback_infoName {
    width: 100%;
  }
  .feedback_nameOrTour {
    width: 200px;
    height: 77px;
  }
  .foto_travel {
    width: 100%;
    height: 1222px;
  }
  .foto_tour2,
  .foto_tour7,
  .foto_tour13 {
    display: none;
  }

  .size_row1 {
    width: 32%;
  }
  .size_row2 {
    width: 23.5%;
  }
  .foto_travel-all {
    width: 100%;
    padding: 0px 20px;
  }
  .travel_stories {
    width: 100%;
    margin-left: 0;
  }
  .travel_stories-body {
    width: 89.7%;
  }
  .size_stories {
    width: 100%;
  }
  .contact_yourTour {
    width: 100%;
    margin-top: 133px;
  }
  .contact-tour {
    width: 771px;
  }
  .black_text {
    padding: 0;
  }
  footer {
    width: 100%;
  }
  .wrapper {
    height: 9785px;
  }
  .social_network {
    width: 89.7%;
  }
  .social_network-icon {
    margin-left: 287px;
  }
  .feedback_tour {
    width: 100%;
  }
}
