* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 1920px;
  height: 9101px;
  background: #f9f7f4;
}
header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1920px;
  height: 831px;

  background-image: url(./image/header-img.png);
  background-size: contain;
}
content {
  position: absolute;
  top: 831px;
  width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 214px;

  width: 1920px;
  height: 88px;
}
.nav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 181.58px;

  width: 1168px;
  height: 30.24px;
  color: white;
}
.pageName {
  background-image: url(./image/YourTour.svg);
  width: 182px;
  height: 32px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-right: 2px;
  gap: 50px;

  width: 468px;
  height: 28px;
}
.nav_item1 {
  width: 51px;
}
.nav_item2 {
  width: 114px;
}
.nav_item3 {
  width: 76px;
}
.nav_item4 {
  width: 80px;
}
.nav_item5 {
  width: 155px;
  height: 28px;
}
.p_normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  flex: none;
  color: white;
}
.p-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
}
.p-big {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}
.h2 {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
}
.h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 122%;
}
.headBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  gap: 50px;

  width: 1920px;
  height: 743px;
}
.head-slogan {
  width: 768px;
  height: 317px;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  flex: none;
}
.head-sign {
  width: 600px;
  height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  padding-bottom: 2px;
}
.searchTour-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 20px;
  margin-top: -3px;
  gap: 10px;

  width: 121px;
  height: 37px;
  background: #ffffff;
  border-radius: 12px;
}
.search {
  width: 78px;
  height: 24px;
  color: #1b1f2b;
  letter-spacing: -0.01em;
}
.capSelectTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 35px;

  width: 700px;
  height: 142px;
}

.selectTour {
  width: 473px;
  height: 73px;
  color: #1b1f2b;

  text-align: center;
}
.windowSelectTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 135px;
  gap: 100px;
  width: 1170px;
  height: 1334px;
}
.elementsTour {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 700px;
  height: 34px;
}
.suggestTour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1170px;
  height: 1092px;
}
.cardTour {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1170px;
  height: 531px;
}
.sizeCard {
  width: 370px;
  height: 431px;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 50px;
}
.tour1 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-1.jpg);
  background-size: contain;
}
.tour2 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-2.jpg);
  background-size: contain;
}
.tour3 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-3.jpg);
  background-size: contain;
}
.tour4 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-4.jpg);
  background-size: contain;
}
.tour5 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-5.jpg);
  background-size: contain;
}
.tour6 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./image/card\ tour\ photo-6.jpg);
  background-size: contain;
}
.nameTourorPrise {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 240px;
  height: 126px;
}
.nameTour {
  height: 86px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.PriseTour {
  width: 270px;
  height: 24px;
  color: white;
}
.expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0px;
  gap: 15px;

  width: 159px;
  height: 28px;
}
.detailed {
  width: 120px;
  height: 28px;
  color: #ffffff;
}
.vectorDet {
  background-image: url(./image/Vector.svg);
  width: 22px;
  height: 15px;
}
