@media screen and (max-width: 1010px) {
  .stories_foto-slogan {
    width: 100%;
  }
  .head-slogan {
    width: 100%;
  }
  .feedback_text {
    font-size: 20px;
  }
  .social_network-icon {
    margin-left: 0;
  }
  .sizeCard {
    width: 48.9%;
  }
  .nameTourorPrise {
    width: 230px;
    height: 126px;
  }
  .expand {
    margin-top: 227px;
  }
  .nav_item1:hover,
  .nav_item2:hover,
  .nav_item3:hover,
  .nav_item4:hover,
  .phone:hover,
  .social_instagram:hover,
  .social_facebook:hover,
  .social_YouTube:hover,
  .social_VK:hover,
  .social_face p:hover,
  .social_inst p:hover,
  .social_vk p:hover,
  .tour_elem2:hover,
  .tour_elem3:hover,
  .tour_elem4:hover,
  .tour_elem5:hover {
    border: none;
  }

  .sizeCard:hover .expand {
    padding: 0;
    border: none;
    width: 159px;
    height: 28px;

    margin-top: 227px;
    background: none;
    border-radius: none;
    margin-left: 50px;
  }

  .size_stories:hover .expand1 {
    padding: 0;
    border: none;
    width: 159px;
    height: 42px;
    margin-left: 0;
    background: none;
    border-radius: none;
  }
  .fixed_menu .nav_item1:hover,
  .fixed_menu .nav_item2:hover,
  .fixed_menu .nav_item3:hover,
  .fixed_menu .nav_item4:hover,
  .fixed_menu .phone_fix:hover,
  .fixed_menu .phone:hover {
    border-bottom: none;
  }

  .inputFill:hover,
  .comment_inputFill:hover,
  .inputFill:focus,
  .comment_inputFill:focus {
    background-color: #f9f7f4;
    border: 1px solid #f4f0e9;
  }

  .black_text-contract:hover,
  .black_text-email:hover {
    border-bottom: none;
  }

  .sizeCard .expand:active {
    border: none;
    background: none;
  }

  .size_stories .expand1:active {
    border: none;
    background: none;
  }
  .search_tour:active,
  .search_tour:hover {
    border: 3px solid #286562;
    background: #286562;
  }
  .reset_tour:active,
  .reset_tour:hover {
    border: 3px solid #e0f0e5;
    background: #e0f0e5;
  }
  .social_instagram:active,
  .social_facebook:active,
  .social_YouTube:active,
  .social_VK:active {
    color: white;
    border-bottom: none;
  }
  .black_text-contract:active,
  .black_text-email:active {
    border-bottom: none;
    color: #1b1f2b;
  }
  .searchTour-button:active,
  .searchTour-button:hover {
    background: white;
    border: 1px solid white;
  }
  .searchTour-button:active .search,
  .searchTour-button:hover .search {
    color: #1b1f2b;
  }
  .sizeCard:hover .size_tour {
    transform: scale(1);
  }

  .size_stories:hover .size_travel {
    transform: scale(1);
  }
}
@media screen and (max-width: 951px) {
  .windowFill {
    padding: 30px;
  }

  .sizeCard {
    width: 48%;
  }
}
@media screen and (max-width: 810px) {
  .nav-links {
    display: none;
  }
  .nav-links_fix {
    display: none;
  }
  .sizeCard {
    height: 400px;
  }

  .expand {
    margin-top: 100px;
  }
  .sizeCard:hover .expand {
    margin-top: 100px;
  }
  .contract-text {
    font-size: 15px;
  }
  .elementsTour {
    width: 650px;
  }
  .feedback_size {
    padding: 25px;
    height: 800px;
  }
  .feedback_name {
    font-size: 30px;
  }
  .feedback_tour {
    font-size: 16px;
  }
  .contact_yourTour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 75px;
    justify-content: center;
    width: 100%;
    height: 285px;
  }
  .contact-tour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    margin: 0;
    width: 360px;
    height: 380px;
    flex-wrap: wrap;
  }
  .contact_yourTour-foto {
    width: 130px;
    height: 133px;
    background-image: url(./image/contact_mobile.png);
  }
  .contact {
    width: 291px;
    height: 122px;

    margin: 0;
  }
  .contact_slogan {
    width: 291px;
    height: 56px;
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .contact_mail {
    width: 293px;
    height: 46px;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 750px) {
  .head-slogan {
    font-size: 76px;
  }

  .foto_travel-head {
    width: 500px;
  }
  .elementsTour {
    width: 550px;
    font-size: 20px;
  }
  .nameTour {
    font-size: 30px;
  }
  .nameTourorPrise {
    width: 200px;
    height: 110px;
  }
  .searchOrReset_tour {
    width: 480px;
  }

  .feedback_people {
    gap: 18px;
    justify-content: center;
  }
  .feedback_size {
    width: 450px;
    height: 641px;
    padding: 40px;
  }
  .feedback_name {
    font-size: 35px;
  }
  .feedback_tour {
    font-size: 17px;
  }
  .social_network-picture1,
  .social_network-picture2,
  .social_network-picture3 {
    display: none;
  }
  footer {
    padding: 21px;

    width: 100%;
    height: 85px;
  }
  .social_network {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 318px;
    height: 85px;
  }
  .slogan_social {
    width: 178px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
    margin-top: 13px;
  }
  .social_network-icon {
    text-align: center;
    width: 300px;
    height: 23px;
    margin: 0;
    margin-top: 6px;
  }
  .social_inst {
    width: 97px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
    margin-right: 17px;
  }
  .social_inst p {
    width: 72px;
    height: 23px;
  }

  .icon_inst {
    background: url(./image/inst_mobile.svg);
    width: 11px;
    height: 12px;
    margin-right: 7px;
  }
  .social_face {
    width: 92px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
    margin-right: 8px;
  }
  .social_face p {
    width: 67px;
    height: 23px;
  }
  .icon_face {
    background: url(./image/face_mobile.svg);
    margin-right: 7px;
    width: 7px;
    height: 14px;
  }
  .social_vk {
    width: 95px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
  }
  .social_vk p {
    width: 70px;
    height: 23px;
  }
  .icon_vk {
    background: url(./image/vk_mobile.svg);
    margin-right: 7px;
    width: 16px;
    height: 10px;
  }
}
@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  .headBottom {
    width: 100%;
    height: 400px;
  }
  .logo {
    background-image: url(./image/YourTour_mobile.svg);
    width: 133px;
    height: 22px;
  }
  .logo_fix {
    background-image: url(./image/logo_fix-menu-mobile.svg);
    width: 133px;
    height: 22px;
  }
  .phone,
  .phone_fix {
    width: 124px;
    height: 23px;
    margin-bottom: 2px;
    font-size: 16px;
  }

  .nav-links {
    display: none;
  }
  .nav-title {
    width: 320px;
  }
  .nav {
    width: 100%;
    justify-content: center;
  }
  .nav_fix {
    width: 100%;
    justify-content: center;
  }
  .head-slogan {
    width: 360px;
    height: 114px;
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 112%;
  }
  .head-sign {
    width: 310px;
    height: 69px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .searchTour-button {
    width: 114px;
    height: 33px;
    padding: 5px 18px;
  }
  .search {
    font-size: 16px;
  }
  content {
    width: 100%;
    margin-bottom: 75px;
  }
  .windowSelectTour {
    width: 100%;
    margin-top: 75px;
  }
  .capSelectTour {
    margin-bottom: 50px;
  }
  .selectTour {
    width: 285px;
    height: 38px;
    font-size: 34px;
    line-height: 112%;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
  }
  .elementsTour {
    width: 320px;
    height: 56px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 142%;
  }
  .foto_travel-all {
    gap: 18px;
  }
  .foto_tour_card13 {
    gap: 18px;
  }

  .foto_tour_card2 {
    gap: 10px;
  }
  .tour_elem1,
  .tour_elem2,
  .tour_elem4 {
    margin-right: 10px;
  }
  .tour_elem1 {
    height: 22px;
  }
  .tour_elem4,
  .tour_elem5 {
    margin-top: 8px;
  }
  .suggestTour {
    width: 318px;
  }
  .sizeCard {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
  .size_tour {
    border-radius: 20px;
  }
  .nameTourorPrise {
    margin: 30px 25px;
    width: 267px;
    height: 60px;
  }
  .nameTour {
    font-size: 23px;
    line-height: 120%;
    width: 267px;
    margin-bottom: 14px;
    letter-spacing: 0.04em;
  }
  .PriseTour {
    font-size: 16px;
    line-height: 142%;
  }
  .expand {
    margin: 150px 25px 25px 25px;
  }

  .sizeCard:hover .expand {
    margin: 147px 25px 25px 25px;
  }
  .detailed {
    font-size: 16px;
    line-height: 142%;
  }

  .collectTour {
    width: 100%;
    margin-top: 75px;
  }
  .tour2 {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(./image/tour2_360.png);
  }
  .tour3 {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(./image/tour3_360.png);
  }
  .tour5 {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(./image/tour5_360.png);
  }
  .tour6 {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(./image/tour6_360.png);
  }
  .collectTour_header {
    width: 318px;
    height: 104px;
    margin-bottom: 40px;
  }
  .collectTour_header-text {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  .slogan {
    width: 318px;
    height: 46px;
    font-size: 16px;
    line-height: 142%;
    margin-top: 20px;
  }
  .windowFill {
    width: 318px;
    border-radius: 30px;
    padding: 20px 20px 40px;
  }

  .form {
    width: 278px;
    height: 74px;
  }
  .titleFill {
    width: 278px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
    margin-bottom: 6px;
  }
  .inputFill {
    width: 278px;
    height: 43px;
    font-size: 16px;
    line-height: 142%;
    padding-left: 9px;
    padding-top: 3px;
  }
  ::placeholder {
    height: 23px;
    font-size: 16px;
    line-height: 142%;
  }
  .dropdown {
    padding-top: 5px;
    height: 46px;
    font-size: 16px;
    line-height: 142%;
    background-position-x: calc(100% - 14px);
    background-position-y: calc(100% - 14px);
  }
  .direction_fill,
  .tel_fill,
  .dateBefore_fill,
  .dateFrom_fill {
    margin-top: 30px;
  }
  .comment_fill {
    margin-top: 33px;
    margin-bottom: 0;
    padding-top: 0;
    width: 278px;
    height: 163px;
  }
  .comment_inputFill {
    width: 278px;
    height: 132px;
  }
  .age_fill {
    margin-top: 27px;
  }
  .approval {
    width: 20px;
    height: 20px;
  }
  .age_button {
    width: 139px;
    height: 23px;
    margin-top: 2px;
  }
  .yes_text,
  .no_text {
    font-size: 16px;
    margin-left: 10px;
  }
  .yes_age {
    height: 22px;
  }
  .no_age {
    margin-left: 30px;
    height: 22px;
  }

  .button_age + label::before {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 21px;
    background-image: url(./image/Ellipse_radio_mobile.svg);
  }

  .button_age:checked + label::after {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-image: url(./image/radiobutton_mobile.svg);
  }
  .licensedContract {
    margin-top: 30px;
  }
  .contract {
    font-size: 15px;
    line-height: 142%;
    width: 278px;
    height: 69px;
  }
  .button_contract + label::before {
    width: 16px;
    height: 16px;
    margin-bottom: 48px;
  }

  .button_contract:checked + label::before {
    background-image: url(./image/check_mobile.svg);
  }
  .black_text-contract {
    margin-left: 0;
  }

  .contract-text {
    display: block;

    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0.01px;
  }
  .search_tour,
  .reset_tour {
    width: 134px;
    height: 47px;
  }
  .search_tour-text {
    width: 75px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
  }
  .reset_tour-text {
    width: 72px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
  }
  .searchOrReset_tour {
    width: 278px;
    height: 47px;
    margin-top: 30px;
  }
  .feedback {
    width: 100%;
    margin-top: 75px;
  }
  .head_feedback {
    width: 100%;
  }
  .header_feedback {
    width: 318px;
    height: 76px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  .feedback_people {
    width: 318px;
    margin-top: 50px;
  }
  .feedback_size {
    padding: 20px;

    width: 318px;
    height: 408px;
    border-radius: 20px;
  }
  .feedback_text {
    width: 270px;
    font-size: 16px;
    line-height: 144%;
  }
  .feedback_people1 {
    height: 408px;
  }
  .feedback_people2 {
    height: 592px;
  }
  .feedback_infoName {
    padding: 0;
  }
  .feedback_nameOrTour {
    width: 203px;
    height: 59px;
    margin-top: 15px;
  }
  .feedback_name {
    width: 203px;
    height: 28px;
    font-size: 23px;
    line-height: 120%;

    letter-spacing: 0.04em;
  }
  .feedback_tour {
    width: 203px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
  .foto_travel {
    width: 100%;
    margin-top: 75px;
  }
  .foto_travel-head {
    width: 360px;
    height: 142px;
  }
  .foto_travel-all {
    width: 318px;
    margin-top: 50px;
    padding: 0;
  }
  .foto_tour3,
  .foto_tour6,
  .foto_tour12 {
    display: none;
  }
  .size_row1 {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .size_row2 {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }
  .foto_tour1 {
    background-image: url(./image/foto_tour1_360.png);
  }
  .foto_tour4 {
    background-image: url(./image/foto_tour4_360.png);
  }
  .foto_tour11 {
    width: 155px;
    background-image: url(./image/image\ 11_mobile.png);
  }
  .foto_tour10 {
    width: 155px;
    background-image: url(./image/image\ 10_mobile.png);
  }
  .foto_tour9 {
    background-image: url(./image/image\ 9_mobile.png);
  }
  .foto_tour8 {
    background-image: url(./image/image\ 8_mobile.png);
  }
  .travel_stories {
    width: 100%;
    margin-top: 75px;
  }

  .travel_stories-body {
    width: 318px;
    margin-top: 30px;
  }
  .size_stories {
    width: 318px;
    height: 455px;
    margin-top: 20px;
    border-radius: 20px;
  }
  .size_travel {
    border-radius: 20px;
  }
  .stories_foto-header {
    width: 153px;
    height: 56px;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .stories_foto-slogan {
    width: 263px;
    font-size: 16px;
    line-height: 143%;
    margin-top: 20px;
  }
  .travel_stories-top {
    margin: 30px 30px 36px 30px;
    height: 306px;
    padding: 0;
  }
  .travel_stories-bottom {
    margin: 0 30px 0 30px;
    width: 123px;
    height: 80px;
    padding: 0;
  }
  .travel_stories1 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(./image/story1_360.png);
  }
  .travel_stories2 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(./image/story2_360.png);
  }
  .travel_stories3 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(./image/story3_360.png);
  }
  .stories_foto-slogan ul {
    margin-left: 22px;
    margin-top: 24px;
  }
  .li_store {
    font-size: 16px;
    line-height: 142%;
    padding-left: 2px;
  }
  li::marker {
    font-size: 10px;
  }
  .social_network-picture1,
  .social_network-picture2,
  .social_network-picture3 {
    display: none;
  }
  .expand1 {
    font-size: 16px;
    line-height: 142%;
  }
}
